c LTGadget
c i 2  3  5  6 0
c 6  : answ
c 2  : a_24
c 3  : b_25
c 4  : a_24 <=> b_25
c 5  : rest_26
c 6  : IF (a_24 <=> b_25) THEN rest_26 ELSE NOT(a_24) ENDIF
p cnf 5 10
-2  3  -4  0
2  -3  -4  0
-2  -3  4  0
2  3  4  0
-2  5  -6  0
-4  5  -6  0
-2  4  -6  0
2  -5  6  0
-4  -5  6  0
2  4  6  0
