c :: WCTIME=0.010703
c :: command line :: ./optimal-finder cvc-mult-const_const5_2n_3.cnf -minimal
c :: version :: 160
c :: reference filename :: cvc-mult-const_const5_2n_3.cnf
c :: reference encoding :: 62
c i 2 4 6 3 5 8 13 20 27 0
c :: inputs :: 2 4 6 3 5 8 13 20 27 
c :: clause minimization :: 0
c :: assignments analyzed :: 1437
c :: reference encoding :: variables :: 25 :: clauses :: 50
c :: optimal encoding :: variables :: 9 :: clauses :: 40
c :: optimal minimal encoding :: 24
p cnf 27 24
-2 3 0
-4 5 0
2 -3 0
6 -20 0
-27 -20 0
6 -27 0
-27 -13 0
-27 2 0
-8 -27 0
4 -5 0
-27 4 0
20 -6 27 0
-8 20 3 0
-13 4 -8 0
-3 -8 -6 0
3 -13 4 0
20 -13 4 0
8 3 -6 0
-5 8 -20 0
8 6 -2 0
8 13 -20 0
-5 13 27 0
-4 -20 -2 0
-20 13 -2 0
