c :: WCTIME=10606.4
c :: command line :: ./optimal-finder cvc-add15to4.cnf -greedy
c :: version :: 160
c :: reference filename :: cvc-add15to4.cnf
c :: reference encoding :: 253
c i 2 3 5 7 8 10 14 15 17 21 22 24 28 29 31 34 69 89 108 0
c :: reference encoding :: variables :: 101 :: clauses :: 253
